:root{
  --ivory:#f8f1e5;
  --pearl:#fffaf2;
  --sand:#eadbc4;
  --champagne:#d9bd83;
  --gold:#b18a48;
  --gold2:#e7d09b;

  --emerald:#163a2e;
  --emerald2:#245442;

  --ink:#17251f;
  --muted:#737d76;

  --line:rgba(23,58,46,.12);
  --shadow:0 30px 80px rgba(30,49,40,.12);

  --radius:28px;
}